.container {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-areas:
      "aside main";
    grid-template-columns: 200px auto;
    grid-gap: 0px;
 
    height: 100vh;
  }

aside {
grid-template-rows: 200px Auto 200px;
grid-template-areas: "navhead" 
                      "nav"
                      "navfoot";

height: 100vh;

}



  body {
    background-color:#a7a09a;
    height: 100vh;
    overflow: hidden;
  }

  #head {
    position: static;
    grid-area: header; 
    background-color: #3A9FC9;
    padding: 10px;
    /*height: 200px; */
    color: white;
  }

.rightflex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}

.rightflex > div {
  margin: 0px 10px 0px 10px;
  text-align: center;
  font-size: 17px;
}

  
  
 

  nav {
    grid-row: 2 ;
    padding: 10px;
    grid-area: nav;
    /*margin-left: 0.5rem;*/
    background-color: #eeeeee;
    border-right-style: solid;
    border-right-width: 1px;
    overflow: auto; 
    /*height: 100vh;*/

  }
  
  #navhead {
    position:sticky;
    grid-area: navhead;
    grid-row: 1;
    padding: 0px;
    height: 30px;
    background-color: #3A9FC9;
    padding: 10px;
  }

  #navfoot {
    grid-area: navhead;
    grid-row: 3;
    padding: 0px;
    height: 30px;
    background-color: #3A9FC9;
    padding: 10px;
  
  }

  #navhead > p.title { 
    vertical-align: middle;
    color: #0B3390;
    display: inline;
    float: right;
    font-size: 22px;
    font-weight: 550;
    margin: 2px 2px 2px 2px;
  }

  main {
    padding: 0px;
    grid-area: main;
    display: grid;
    background-color: #eeeeee;
    grid-template-rows: 200px auto 200px;
    grid-template-areas:  "header" "article" 
"footer";
    overflow:scroll;
  }
  
  header {
    /*height: 200px;*/
    background-color: #3A9FC9;
    grid-row: 1;
    grid-column: 1 / span 8;
  }

  article {
    /*grid-area: article;*/
    grid-row: 2;
    grid-column: 1 / span 8;
    margin: 0px 20px 0px 20px;
    color: #0B3390;
  }

  
  footer {
    position: static;
    padding: 10px;
    /*grid-area: footer; */
    grid-column: 1 / span 8;
    background-color: #eeeeee;
  }



  #treeview, #treeview ul {
    list-style: none;
    padding-inline-start: 0px;

  }

    #treeview .parent {
        position: relative;
        cursor: pointer; 
        
  }

  #treeview .parent ul {
    padding-inline-start: 40px;
  }
  
        #treeview .parent:before {
            padding-left: 25px;
            background: url(./images/plusminus.png) no-repeat;
            background-position: 0 top;
            background-size: 40px, 20px;
            content: "";
            height: 25px;
        }
  
    #treeview .close:before {
        background-position: -20px top;
    }
  
    #treeview .parent > ul {
        display: none;
    }